body{
    margin: 0;
    padding: 0;
    width: 100%;
}




.header{
    width: 100vw;
    height: 9vh;
    padding: 0;
    margin: 0;
}
.logo{
    width: 10vw;
    height: 9vh;
    padding: 0;
    margin: 0;

    
}
.logo img{
    height: 30vh;
    width: 25vw;
    position: relative;
    bottom: 10vh;
    left: 17vw;
}
.container{
    display: flex;
    flex-direction: row; 
    transition: flex-direction 0.5s ease-in-out;
    align-items: center;
    padding-top: 2vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
    height:80vh;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:url("creator.png");

}
/* ++++++++++++++++++signUpForm++++++++++++++++++++ */
.signUpForm{
    box-shadow: 0px 0px 10px 5px black;
    margin: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
    background-color: yellowgreen;
    border-top-left-radius: 10em;
    border-bottom-right-radius: 10em;
    padding: 1rem;
}
.signUpForm h1{
    margin:2vh;
    padding: 0;
    font-size: 3.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.form1-label label{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0.2vw;
    font-size: 1.3em;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type="text"], input[type="password"], input[type="email"]{
    background-color: rgba(0, 0, 0, 0.668);
    border: 0;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin: 0.2vw;
    width: 25vw;
    height: 2vw;
    padding: 0.4vw;
    text-align: left;
    outline: none;
    box-shadow: 0px 0px 0px 0px #fff;
    transition: all 0.3s ease-in-out;
    font-size: 1.2em;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="submit"]{
    margin: 0.4vw 0vw;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 31, 85);
    border: 0;
    border-radius: 2em;
    width: 10vw;
    height: 3vw;
    padding: .4em;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    outline:none;
    position:relative;
    overflow:hidden;
    z-index:999;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5), inset -2px
    2px 2px 0px rgba(255,255,255,.2);
    &::before {
        content:"";
        position:absolute;
        top:-2px;
        left:-2px;
        right:-2px;
        bottom:-2px;
        background:#ffaaee;
        z-index:-1;
        opacity:0;
        transform:scaleX(.5) scaleY(.5);
        animation: shine 2s infinite linear;
        }
}
input[type="submit"]:hover {
        transform: scale(1.05);
        opacity: 0.9;
}
.signin label{
    color: #334411;
    margin-bottom: .6em;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-
    serif;
}
.signin input[type="button"]{
    background-color: rgb(106, 31, 85);
    border: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1em;
    font-weight:100;
    letter-spacing: 0.1em;
    padding:0.4em;
    cursor: pointer;
    display:inline-block;
    margin:0 auto;
    transition: all 0.3s ease-in-out;
    width: 6vw;
    height: 2.5vw;
    border-radius: 2em;
    line-height: 1.5;
    outline:none;
    position:relative;
    overflow:hidden;
    z-index:999;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5), inset -2px
    2px 2px 0px rgba(255,255,255,.2);
    &::before {
        content:"";
        position:absolute;
        top:-2px;
        left:-2px;
        right:-2px;
        bottom:-2px;
        background:#ffaaee;
        z-index:-1;
        opacity:0;
        transform:scaleX(.5) scaleY(.5);
        animation: shine 2s infinite linear;
        }
}
.signin input[type="button"]::after{
    .container{
        display: flex;
        flex-direction: row-reverse;
    }
}
.links a{
    text-decoration: none;
    color: #334411;
    font-size: 1.6em;
    letter-spacing: 2em;
}
/* +++++++++++++++signInForm+++++++++++++++++ */
.signInForm{
    box-shadow: 0px 0px 10px 5px black;
    margin: 20px;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
    background-color: yellowgreen;
    border-top-left-radius: 10em;
    border-bottom-right-radius: 10em;
}
.signInForm h1{
    position: relative;
    bottom: 3vw;
    font-size: 3.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.form1-label label{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0.2vw;
    font-size: 1.3em;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type="text"], input[type="password"], input[type="email"]{
    background-color: rgba(0, 0, 0, 0.668);
    border: 0;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin: 0.2vw;
    width: 25vw;
    height: 2vw;
    padding: 0.4vw;
    text-align: left;
    outline: none;
    box-shadow: 0px 0px 0px 0px #fff;
    transition: all 0.3s ease-in-out;
    font-size: 1.2em;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="submit"]{

    margin: 2vw 0vw;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 31, 85);
    border: 0;
    border-radius: 2em;
    width: 10vw;
    height: 3vw;
    padding: .4em;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    outline:none;
    position:relative;
    overflow:hidden;
    z-index:999;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5), inset -2px
    2px 2px 0px rgba(255,255,255,.2);
    &::before {
        content:"";
        position:absolute;
        top:-2px;
        left:-2px;
        right:-2px;
        bottom:-2px;
        background:#ffaaee;
        z-index:-1;
        opacity:0;
        transform:scaleX(.5) scaleY(.5);
        animation: shine 2s infinite linear;
        }
}
input[type="submit"]:hover {
        transform: scale(1.05);
        opacity: 0.9;
}
.signin label{
    color: #334411;
    margin-bottom: .6em;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-
    serif;
}
.signin input[type="button"]{
    background-color: rgb(106, 31, 85);
    border: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1em;
    font-weight:100;
    letter-spacing: 0.1em;
    padding:0.4em;
    cursor: pointer;
    display:inline-block;
    margin:0 auto;
    transition: all 0.3s ease-in-out;
    width: 6vw;
    height: 2.5vw;
    border-radius: 2em;
    line-height: 1.5;
    outline:none;
    position:relative;
    overflow:hidden;
    z-index:999;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5), inset -2px
    2px 2px 0px rgba(255,255,255,.2);
    &::before {
        content:"";
        position:absolute;
        top:-2px;
        left:-2px;
        right:-2px;
        bottom:-2px;
        background:#ffaaee;
        z-index:-1;
        opacity:0;
        transform:scaleX(.5) scaleY(.5);
        animation: shine 2s infinite linear;
        }
}
.signin input[type="button"]::after{
    .container{
        display: flex;
        flex-direction: row-reverse;
    }
}
.links a{
    text-decoration: none;
    color: #334411;
    font-size: 1.6em;
    letter-spacing: 2em;
}


#video-container{
    margin: 2em;
    width:50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10em;
    border-bottom-right-radius: 10em;
}
#video{
    background-color: #ffaaee;
    height: 92%;
    box-shadow: 0px 0px 10px 5px black;
    width: 20em;
}

